@charset "UTF-8";
body {
  text-decoration: none;
  margin: 0px;
  width: 100%;
}

body a {
  text-decoration: none;
  font-family: "Roboto",sans-serif;
}

body a:visited {
  text-decoration: none;
  color: black;
}

body p, body h2, body li {
  font-family: "Roboto",sans-serif;
}

body h1 {
  font-family: "Shrikhand","Roboto",sans-serif;
}

body {
  font-family: "Shrikhand", sans-serif;
  height: 100vh;
}

/* loader */
.loader {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: loader 3s;
          animation: loader 3s;
}

.lettre {
  color: #484848;
  font-size: 40px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

@-webkit-keyframes apparition-accueil {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
  }
}

@keyframes apparition-accueil {
  0% {
    opacity: 0;
  }
  100% {
    display: block;
  }
}

@-webkit-keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}

@-webkit-keyframes loader {
  0% {
    z-index: 1;
    display: -webkit-box;
    display: flex;
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(1200px);
    -webkit-transform: translateY(1200px);
    -moz-transform: translateY(1200px);
    -ms-transform: translateY(1200px);
    -o-transform: translateY(1200px);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(1200px);
    -webkit-transform: translateY(1200px);
    -moz-transform: translateY(1200px);
    -ms-transform: translateY(1200px);
    -o-transform: translateY(1200px);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes apparition-picture {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition-picture {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes apparition-card {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition-card {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes apparition-validate {
  0% {
    width: 5px;
  }
  17% {
    width: 20px;
  }
  33% {
    width: 40px;
  }
  66% {
    width: 60px;
  }
  100% {
    width: 75px;
  }
}

@keyframes apparition-validate {
  0% {
    width: 5px;
  }
  17% {
    width: 20px;
  }
  33% {
    width: 40px;
  }
  66% {
    width: 60px;
  }
  100% {
    width: 75px;
  }
}

@-webkit-keyframes apparition-check {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes apparition-check {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.logo {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 30px 0px 20px 0px;
  -webkit-box-shadow: 1px 0px 8px grey;
          box-shadow: 1px 0px 8px grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__img {
  height: 40px;
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f2f2f2;
  padding-bottom: 60px;
  margin-bottom: 50px;
}

.accueil__title {
  font-size: 30px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  font-family: "Roboto",sans-serif;
  text-align: center;
}

.accueil__text {
  font-size: 20px;
  margin-left: 40px;
  margin-right: 40px;
  color: grey;
  text-align: center;
  margin-top: 0px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 20px 0px 30px 110px;
}

.location__icone {
  height: 20px;
}

.location__search {
  width: 400px;
  padding-left: 20px;
  padding-top: 6px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: white;
}

.location__search::-webkit-input-placeholder {
  color: black;
  padding-left: 20px;
}

.location__search:-ms-input-placeholder {
  color: black;
  padding-left: 20px;
}

.location__search::-ms-input-placeholder {
  color: black;
  padding-left: 20px;
}

.location__search::placeholder {
  color: black;
  padding-left: 20px;
}

.button-purple {
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 33px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 10px grey;
          box-shadow: 1px 1px 10px grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button-purple--command {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.button-purple:visited {
  color: white;
}

.button-purple:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 2px 2px 15px grey;
          box-shadow: 2px 2px 15px grey;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.fonction--titre {
  margin-left: 15px;
  font-size: 30px;
}

.fonction {
  padding: 0px;
}

.fonction__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  list-style-type: none;
  background-color: #f2f2f2;
  padding: 20px 30px 20px 30px;
  margin-bottom: 20px;
  border-radius: 35px;
  border-bottom: 1px solid lightgrey;
}

.fonction__card:hover {
  background-color: #f2eafb;
  color: #ae80e5;
}

.fonction__card:hover > .fonction__card--icone {
  color: pink;
}

.fonction__card--numero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9256dc;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-right: 30px;
}

.fonction__card--icone {
  color: grey;
  font-size: 25px;
  margin-right: 25px;
}

.fonction__card--text {
  font-size: 20px;
  font-weight: bold;
}

.padding-left {
  padding-left: 50px;
}

.restaurant {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.restaurant__title {
  font-size: 30px;
  margin-left: 20px;
}

.restaurant__title:nth-child(1) {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-left: 15px;
}

.card {
  background-color: white;
  border-radius: 33px;
  margin: 15px;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 0px lightgray;
          box-shadow: 0px 2px 0px lightgray;
  position: relative;
  -webkit-animation: accueil-apparition 4s;
          animation: accueil-apparition 4s;
}

.card__new {
  position: absolute;
  top: 10px;
  right: 20px;
  color: green;
  background-color: #a4f3a4;
  padding: 6px;
  font-weight: 600;
}

.card__img {
  height: 175px;
  width: 350px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  color: black;
}

.card__info--text {
  margin: 5px 0px 5px 5px;
}

.card__info--nom {
  margin: 5px 0px 5px 5px;
}

.card__heart {
  height: 20px;
  padding-right: 15px;
}

.card__heart:hover > .card__heart--empty {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}

.card__heart--full {
  position: relative;
  color: #9356DC;
  height: 18px;
  opacity: 0;
  background-clip: border-box;
}

.card__heart--full:hover {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

.card__heart--empty {
  position: absolute;
  height: 18px;
}

.card:visited {
  color: black;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__logo {
  height: 30px;
  padding-left: 20px;
}

.head__icone {
  height: 30px;
}

.backgroundimg-alafrancaise {
  background-image: url("../images/restaurants/aLaFrancaise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  -webkit-animation: apparition-picture 1s ease-in-out;
          animation: apparition-picture 1s ease-in-out;
  z-index: 0;
}

.backgroundimg-lapalettedugout {
  background-image: url("../images/restaurants/laPaletteDuGout.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  -webkit-animation: apparition-picture 1s ease-in-out;
          animation: apparition-picture 1s ease-in-out;
  z-index: 0;
}

.backgroundimg-ledelicedessens {
  background-image: url("../images/restaurants/leDéliceDesSens.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  -webkit-animation: apparition-picture 1s ease-in-out;
          animation: apparition-picture 1s ease-in-out;
  z-index: 0;
}

.backgroundimg-lanoteenchantee {
  background-image: url("../images/restaurants/laNoteEnchantée.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: absolute;
  -webkit-animation: apparition-picture 1s ease-in-out;
          animation: apparition-picture 1s ease-in-out;
  z-index: 0;
}

.Menu {
  background-color: #f2f2f2;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  width: 100%;
  padding: 50px 20px 50px 5px;
  -webkit-animation: apparition 1.0s ease-in-out;
          animation: apparition 1.0s ease-in-out;
  position: relative;
  top: 220px;
  z-index: 1;
}

.Menu__h2 {
  padding-top: 30px;
  margin: 10px;
  color: grey;
  font-size: 20px;
}

.id-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.id-restaurant__name {
  font-size: 30px;
  padding-left: 25px;
}

.heart-restaurant {
  height: 22px;
}

.selection {
  background-color: white;
  border-radius: 10px;
  border-bottom: 1px solid lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 25px;
  -webkit-animation: apparition-card 1s ease-in-out 0.5s;
          animation: apparition-card 1s ease-in-out 0.5s;
  position: relative;
  max-width: 400px;
}

.selection:hover > .selection__validate {
  display: block;
  -webkit-animation: apparition-validate 0.2s ease-in both;
          animation: apparition-validate 0.2s ease-in both;
}

.selection:hover > .selection__check {
  display: block;
  -webkit-animation: apparition-check 0.3s ease-in;
          animation: apparition-check 0.3s ease-in;
}

.selection:visited {
  color: black;
  text-decoration: none;
}

.selection__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}

.selection__id {
  font-weight: bold;
  font-size: 23px;
  padding: 5px 0px 5px 10px;
  margin: 0px;
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selection__info {
  color: grey;
  font-size: 17px;
  padding: 5px 0px 5px 10px;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selection__price {
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 20px;
  color: black;
  display: inline-block;
}

.selection__validate {
  background-color: #99E2D0;
  height: 68px;
  position: absolute;
  right: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 0;
  margin-left: 50px;
}

.selection__check {
  right: 20px;
  bottom: 16px;
  color: white;
  font-size: 30px;
  z-index: 1;
  position: relative;
  display: none;
  margin-left: 50px;
}

.selection-apparition-plats {
  -webkit-animation: apparition-card 2s ease-in-out 0.5s;
          animation: apparition-card 2s ease-in-out 0.5s;
}

.selection-appparition-desserts {
  -webkit-animation: apparition-card 3s ease-in-out 0.5s;
          animation: apparition-card 3s ease-in-out 0.5s;
}

.green-line {
  height: 5px;
  width: 80px;
  background-color: #99E2D0;
  margin: 5px 0px 50px 10px;
}

.footer--restaurant {
  position: relative;
  top: 200px;
  z-index: 1;
}

.footer {
  background-color: #262626;
}

.footer__logo {
  padding: 15px;
  height: 25px;
}

.footer__lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 20PX;
  margin: 10px;
  margin-left: 30px;
}

.footer__lien:visited {
  color: white;
}

.footer__icone {
  padding-right: 20px;
  color: white;
}

@media screen and (min-width: 768px) {
  .fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__title {
    padding-left: 20px;
  }
  .card {
    margin: 45px;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 20px 50px 20px;
  }
}
/*# sourceMappingURL=index.css.map */